do_token                           = "<token>"
do_proj_name                       = "stp-babushka-prod"
do_proj_env                        = "Production"
k8s_namespace                      = "stpbabushka-prod"
k8s_secret_backend_data_env        = "prod"
k8s_secret_backend_data_secret_key = "<django_secret_key>"
db_name                            = "stpbabushka-prod-postgresql-db"
db_user_backend_name               = "stpbabushka-prod-backend-postgresql-user"
db_user_localmanagement_name       = "stpbabushka-prod-localmanagement-postgresql-user"