<div class="card post-card mb-4">
   <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
         <div>
            <a href="{{ post.user_profile.get_absolute_url }}">
               <img src="{{ post.user_profile.get_profile_pic }}" class="profile-photo me-2">
               <span class="fw-bold">{{ post.user_profile.user.username }}</span>
            </a>
            <span class="text-muted small">· {{ post.get_str_time }}</span>
         </div>
         <div>
            <a class="common-link fw-bold" data-bs-toggle="modal" data-bs-target="#post-modal" data-bs-whatever="{{ post.pk }}" data-bs-username="{{ post.user_profile.user.username }}"><i class="fa-solid fa-ellipsis"></i></a>
         </div>
      </div>
   </div>
   <img src="{{ post.image.url }}" class="card-img-top rounded">
   <section data-post-id="{{ post.pk }}" class="post-buttons post-buttons-flex">
      <div class="post-buttons-flex">
         <span>
            <i class="fa-regular fa-heart submit-like {% if post.is_liked %}like-liked{% endif %}"></i>
            <span class="like-count">{{ post.get_num_of_likes|default:"" }}</span>
         </span>
         {% if post.is_allow_comments %}
            <a href="{{ post.get_absolute_url }}" class="d-flex ms-3">
               <span><i class="fa-regular fa-comment"></i></span>
               <span class="comment-count">{{ post.get_num_of_comments|default:"" }}</span>
            </a>
         {% endif %}
      </div>
      <div class="post-buttons-flex">
         <span class="me-3">
            <a class="common-link fw-bold lh-1" data-bs-toggle="modal" data-bs-target="#post-share-modal" data-type="post" data-pk="{{ post.pk }}"><i class="fa-solid fa-arrow-up-from-bracket"></i></a>
         </span>
         <span>
            <i class="fa-regular fa-bookmark submit-bookmark {% if post.is_bookmark %}bookmark-marked{% endif %}"></i>
         </span>
      </div>
   </section>
   {% if post.title %}
      <span class="small limit-str">
         <span class="fw-bold me-1">{{ post.user_profile.user.username }}</span>
         {{ post.title }}
      </span>
   {% endif %}
</div>