<div class="modal fade" id="post-modal" tabindex="-1" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-body rounded-5 list-group text-center p-0">
         <a id="post-details-url" href="#" class="fw-medium list-group-item list-group-item-action">Перейти к публикации</a>
         <a id="post-details-profile" href="#" class="fw-medium list-group-item list-group-item-action">Перейти к <span class="opacity-25 placeholder col-2"></span></a>
         <a id="post-details-share" data-bs-toggle="modal" data-bs-target="#post-share-modal" data-type="post" data-pk="" class="list-group-item list-group-item-action">Поделиться...</a>
         <button type="button" class="list-group-item list-group-item-action text-muted" data-bs-dismiss="modal">Отмена</button>
      </div>
   </div>
</div>
<div class="modal fade" id="post-share-modal" tabindex="-1" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-5 p-4 text-center">
         <div class="modal-header pb-0 border-0">
            <h3 class="modal-title">Поделиться</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body pt-0">
            <div id="share-qr">
               <div class="d-flex justify-content-center" style="height: 300px; width: 100%">
                  <div class="spinner-border text-primary my-auto" role="status">
                     <span class="visually-hidden">Loading...</span>
                  </div>
               </div>
            </div>
            <div class="d-flex">
               <input id="share-qr-url" type="text" value="" class="form-control text-muted" disabled placeholder="Ссылка">
               <span id="share-qr-copy" class="btn btn-info text-nowrap ms-3"><i class="fa-solid fa-link me-1"></i> Копировать</span>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
// Likes
$('.submit-like').on('click', function() {
    {% if user.is_authenticated %}
    pressLike.call(this);
    {% else %}
    let loginModal = new bootstrap.Modal(document.getElementById('login-modal'));
    loginModal.show();
    {% endif %}
});

// Bookmarks
$('.submit-bookmark').on('click', function() {
    {% if user.is_authenticated %}
    pressBookmark.call(this);
    {% else %}
    let loginModal = new bootstrap.Modal(document.getElementById('login-modal'));
    loginModal.show();
    {% endif %}
});
</script>