{% extends 'base_generic.html' %}
{% load static %}
{% block title %}Вход в Babushka{% endblock %}
{% block navbar %}{% endblock %}
{% block extrastyle %}
   <link rel="stylesheet" href="{% static 'css/blobs.css' %}">
   <style>
      body {
          overflow-x: hidden;
      }
   </style>
{% endblock %}
{% block content %}
   <div class="row">
      <div class="col-6 col-xl-7 d-none d-lg-block">
         <div class="mobile-slider" style="background-image: url({% static 'img/home-phones.png' %})">
            <img class="mobile-slider-img1" src="{% static 'img/screenshot1.png' %}" />
            <img class="mobile-slider-img2" src="{% static 'img/screenshot2.png' %}" />
            <img class="mobile-slider-img3" src="{% static 'img/screenshot3.png' %}" />
            <img class="mobile-slider-img4" src="{% static 'img/screenshot4.png' %}" />
         </div>
      </div>
      <div class="col-md-8 col-lg-6 col-xl-5 offset-md-2 offset-lg-0">
         <div class="square twitter">
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
               <img class="d-block mx-auto mb-3 mt-2" src="{% static 'img/babushka-logo.png' %}" width="260" />
               {% if form.non_field_errors %}
                  {% include 'includes/form_non_field_errors.html' %}
               {% endif %}
               <form method="post">
                  {% csrf_token %}
                  <div class="mb-3">
                     <div class="form-floating">
                        {{ form.username }}
                        <label for="id_username">Имя пользователя</label>
                     </div>
                  </div>
                  <div class="mb-3">
                     <div class="form-floating">
                        {{ form.password }}
                        <label for="id_password">Пароль</label>
                     </div>
                  </div>
                  <div class="mb-3">
                     <div class="form-check form-switch">
                        {{ form.remember_me }}
                        <label for="id_remember_me" class="ms-1">Запомнить меня</label>
                     </div>
                  </div>
                  <button type="submit" class="btn btn-primary rounded-pill w-100 mb-5">Войти</button>
               </form>
            </div>
         </div>

         <div class="card shadow rounded-5 mt-3 mx-sm-4">
            <div class="card-body p-4">
               <p class="text-center mb-2">
                  Нет аккаунта?
                  <a href="{% url 'register' %}" class="btn btn-primary btn-sm rounded-pill ms-2 px-3">Зарегистрируйтесь!</a>
               </p>
               <p class="text-center mb-0"><a href="#" class="small">Забыли пароль?</a></p>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
{% block extrajs %}
   <script>
       {% if form.errors %}{% for field in form %}
       {% if field.errors %}
           AddBsError("{{ field.id_for_label }}", "{% for error in field.errors %}{{ error }} {% endfor %}")
       {% endif %}
       {% endfor %}{% endif %}
   </script>
{% endblock %}