/* Override BS CSS */
.toast-container>:not(:last-child) {
    --bs-toast-spacing: 0.8rem;
}

/* Override ImageUploaderWidget */
.iuw-root {
    min-width: unset!important;
}

body a {
    text-decoration: none;
}
.common-link {
    color: unset;
    text-decoration: none;
}
.limit-str {
    --num-lines: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--num-lines); /* Number of lines to show */
    -webkit-box-orient: vertical;
}
.text-bg-gray {
    color: #000!important;
    background-color: #EFEFEF !important;
}

/* Post */
.post-card {
    border: none;
}
.post-card .profile-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.post-card .card-header {
    padding: 1rem 0rem;
    background-color: unset;
    border: none;
}
.post-card .post-buttons a {
    color: unset;
    text-decoration: none;
    font-size: 1.31rem!important;
}

/* Create post */
@media (min-width: 768px) {
    /* >= md */
    .create-post-form .post-upload-image {
        height: 100%!important;
    }
    .create-post-form .post-upload-form {
        height: 100%!important;
    }
}
@media (max-width: 767px) {
    /* <= md */
    .create-post-form .post-upload-image {
        height: 20rem;
    }
}

/* Login page */
.mobile-slider {
    background-repeat: no-repeat;
    background-size: 460px 625px;
    width: 430px;
    height: 600px;
    position: relative;
    top: 5px;
    left: 15px;
    margin: 0 auto;
}

.mobile-slider-img1,
.mobile-slider-img2,
.mobile-slider-img3,
.mobile-slider-img4 {
    position: absolute;
    top: 22px;
    left: 151px;
    animation-name: fade;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}

.mobile-slider-img2 {
    animation-delay: -12s;
}

.mobile-slider-img3 {
    animation-delay: -8s;
}

.mobile-slider-img4 {
    animation-delay: -4s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    53% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}