{% extends 'admin/change_list.html' %}
{% load static %}
{% block extrastyle %}
   {{ block.super }}
   <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}
{% block content %}
   <form method="post">
      {% csrf_token %}
      <select name="db_field">
         <option value="">----------</option>
         {% for field in fields %}
            <option value="{{ field.name }}">{{ field.name }} - {{ field.verbose_name }}</option>
         {% endfor %}
      </select>
      <button class="db-action db-action-del" type="submit" name="db_action" value="delete">Удалить</button>
   </form>
   <form method="post" style="margin: .4rem 0">
      {% csrf_token %}
      <input type="text" name="db_field">
      <select name="db_field_type">
         <option value="">----------</option>
         {% for type in field_types %}
            <option value="{{ type }}">{{ type }}</option>
         {% endfor %}
      </select>
      <button class="db-action db-action-add" type="submit" name="db_action" value="add">Добавить</button>
   </form>
	{{ block.super }}
{% endblock %}