<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Договор аренды</title>
    <style>
       body {
           margin: 1cm;
           text-align: justify;
       }
       h3, h4 {
           text-align: center!important;
       }
       p {
           margin: 0;
           line-height: 20px;
       }
       table {
           width: 100%;
           border-collapse: collapse;
           margin-top: 20px;
       }
       table, th, td {
           border: 1px solid black;
       }
       th, td {
           padding: 8px;
           text-align: left;
       }
       @media print {
           @page {
               margin: 0!important;
               size: A4 portrait!important;
           }
           body {
               margin: 1.6cm!important;
           }
       }
   </style>
</head>
<body onload="window.print()">
    <h3>ДОГОВОР № {{ number }}</h3>
    <h4>аренды места на время выставки</h4>
    <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
        <p>г. Минск</p>
        <p>{% now "d F Y" %}</p>
    </div>
    <p><span style="margin-right: 40px;"></span>
        Центр современных искусств, именуемый в дальнейшем "АРЕНДОДАТЕЛЬ", в лице директора Гришаёнка И. Д. действующего
        на основании устава с одной стороны, и {{ rent.participation.company }} именуемого в дальнейшем "УЧАСТНИК", действующего на основании устава,
        заключили настоящий
    </p>
    <p>Договор о нижеследующем:</p>
    <p><span style="margin-right: 40px;"></span>
        1. АРЕНДОДАТЕЛЬ предоставляет УЧАСТНИКУ на время выставки {{ rent.participation.exhibition }} место No. {{ rent.place.number }},
    оборудованный "под ключ" (аренда конструкций и
    мебели,  строительство и оформление стенда стандартной  конфигурации,
    электропитание, освещение, отопление, вентиляция, уборка) и публикует
    информацию УЧАСТНИКА в каталоге  выставки  во  взаимно  согласованных
    объемах.
    </p>
    <p><span style="margin-right: 40px;"></span>
         2. УЧАСТНИК  обязуется  оплатить  в  течение 10 дней с момента
    подписания АРЕНДОДАТЕЛЕМ настоящего Договора стоимость  аренды  места.
    </p>
    <p><span style="margin-right: 40px;"></span>
         3. Если УЧАСТНИК не выдержал установленные  настоящим  Договором
    сроки платежа,  АРЕНДОДАТЕЛЬ  имеет право расторгнуть настоящий Договор
    по своей инициативе.
    </p>
    <p><span style="margin-right: 40px;"></span>
         4. Ввоз оборудования  осуществляется  за  3 дня  до
    начала работы выставки, а вывоз - в день ее завершения. Если УЧАСТНИК
    не выдерживает сроков вывоза выставочного оборудования,  то  издержки
    АРЕНДОДАТЕЛЯ за хранение оборудования относятся за счет УЧАСТНИКА.
    </p>
    <p><span style="margin-right: 40px;"></span>
         5. УЧАСТНИК  обязуется  не иметь претензий к АРЕНДОДАТЕЛЮ в случае
    возникновения травм своих  официальных  представителей,  а  также  по
    поводу возможных  потерь,  хищений  и порчи оборудования.  АРЕНДОДАТЕЛЬ
    организует передачу  и  прием  места  под   охрану
    работников правопорядка,  а  также
    способствует УЧАСТНИКУ в страховании его экспонатов и оборудования.
    </p>
    <p><span style="margin-right: 40px;"></span>
         6. При  собственном  обустройстве  стенда  или  его дооформлении
    УЧАСТНИК обязуется не  применять  красок,  клеев  и  других  веществ,
    которые могут    привести   к   порче   конструкционных   материалов,
    использованных при  монтаже   экспозиции.   Затраты   АРЕНДОДАТЕЛЯ   на
    восстановление конструкций и мебели,  порча которых произошла по вине
    УЧАСТНИКА, относятся за счет последнего.
    </p>
    <p><span style="margin-right: 40px;"></span>
         7. УЧАСТНИК  обязуется  не  предоставлять выделенную выставочную
    площадь организациям, не являющимся сторонами в настоящем Договоре, а
    также не размещать рекламу этих организаций.
    </p>
    <p><span style="margin-right: 40px;"></span>
         8. Если УЧАСТНИК не занимает выделенной  площади  до  дня открытия  выставки,
        АРЕНДОДАТЕЛЬ  имеет  право использовать ее по
    своему усмотрению,  что не освобождает  УЧАСТНИКА  от  оплаты  полной
    суммы арендной платы, определенной в настоящем Договоре.
    </p>
    <p><span style="margin-right: 40px;"></span>
         9. Условия  настоящего  Договора  могут   быть   изменены   или
    дополнены по соглашению сторон в письменном виде.
    </p>
    <p><span style="margin-right: 40px;"></span>
         10. Споры,  возникающие  по   условиям   выполнения   настоящего
    Договора, разрешаются в установленном законом порядке.
    </p>
    <p style="margin-top: 350px"><span style="margin-right: 40px;"></span>
         11. Юридические адреса и реквизиты сторон:
    </p>
    <div style="display: flex; justify-content: space-between; margin-top: 20px;">
        <div>
            <p>УЧАСТНИК:</p>
            <p>{{ rent.participation.company.address }}</p>
            <p>м.п._________________________</p>
        </div>
        <div>
            <p>АРЕНДОДАТЕЛЬ:</p>
            <p>г. Минск, ул. Платонова, 39</p>
            <p>м.п._________________________</p>
        </div>
    </div>
</body>
</html>