{% extends 'base_generic.html' %}
{% block extrastyle %}
   <style>
   .container {
       @media(min-width: 1200px) {
           max-width: 1100px;
       }
   }
   </style>
{% endblock %}
{% block content %}
   <div class="d-flex justify-content-center align-items-center mt-1 mb-4">
      {% block explore-buttons %}
         <a href="{% url 'explore' %}" class="btn text-bg-gray rounded-pill border border-secondary me-2">Публикации</a>
         <a href="{% url 'explore-users' %}" class="btn text-bg-gray rounded-pill me-2">Профили</a>
         <a href="{% url 'explore-groups' %}" class="btn text-bg-gray rounded-pill">Сообщества</a>
      {% endblock %}
   </div>
   {% block explore-content %}
      <div class="row g-2">
         {% for post in posts %}
            {% include 'includes/post_only_image.html' %}
         {% endfor %}
         {% if not posts %}
            <div class="text-muted opacity-50 p-4 mx-auto">
               <h1 class="fw-bold" style="font-size: 4.5rem">Так-так... <i class="fa-regular fa-snowflake fa-spin-pulse ms-1"></i></h1>
               <h5 class="mb-4">Здесь пока пусто, но именно ты можешь все <strong>исправить</strong>!</h5>
               <a href="{% url 'post-create' %}" class="btn text-bg-gray rounded-pill">Запостить первым!</a>
            </div>
         {% endif %}
      </div>
   {% endblock %}
{% endblock %}