{% extends 'base_generic.html' %}
{% load static custom_tags %}
{% block title %}Instagram{% endblock %}
{% block content %}
   <div class="row g-5">
      <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-6 offset-lg-1 offset-xl-2">
         {% if posts %}
            {% for post in posts %}
               {% include 'includes/post.html' %}
            {% endfor %}
            {% include 'includes/post_modals.html' %}

            {% if not user.is_authenticated %}
               <div class="text-muted opacity-50 mt-5">
                  <h3 class="fw-bold"><i class="fa-solid fa-right-to-bracket fa-rotate-180 me-1"></i> Зарегистрируйтесь или войдите в аккаунт,</h3>
                  <h4 class="mb-4">чтобы стать частью сообщества!</h4>
                  <a href="{% url 'register' %}" class="btn text-bg-gray rounded-pill">Зарегистрироваться</a>
                  <a href="{% url 'login' %}" class="btn text-bg-gray rounded-pill">Войти</a>
               </div>
            {% endif %}
         {% else %}
            <div class="text-muted opacity-50 p-4">
               <h1 class="fw-bold" style="font-size: 4.5rem">Ой ой <i class="fa-regular fa-face-frown-open ms-1"></i></h1>
               <h5 class="mb-4">Похоже, постов еще нет... Но ты можешь стать первым!</h5>
               <a href="{% url 'post-create' %}" class="btn text-bg-gray rounded-pill">Запостить первым!</a>
            </div>
         {% endif %}
      </div>

      <div class="d-none d-md-block col-md-5 col-lg-4 col-xl-3">
         <div class="card card-body border-0">
            <div class="d-flex justify-content-between align-items-center mb-4">
               <div class="d-flex align-items-center">
                  <a href="{% url 'my-profile' %}">
                     <img src="{{ user.profile.get_profile_pic }}" class="profile-photo me-3" style="width: 45px; height: 45px;">
                  </a>
                  <div>
                     <a href="{% url 'my-profile' %}" class="fw-bold common-link mb-0">{{ user.username }}</a>
                     <p class="text-muted small mb-0">{{ user.first_name }} {{ user.last_name }}</p>
                  </div>
               </div>
               <a href="{% url 'logout' %}" class="text-muted"><i class="fa-solid fa-arrows-rotate"></i></a>
            </div>

            {% if recommended_users %}
               <div class="d-flex justify-content-between align-items-center mb-2">
                  <a href="{% url 'explore-users' %}" class="common-link text-muted fw-bold">Рекомендации для вас <i class="fa-solid fa-angle-right small"></i></a>
               </div>

               {% for person in recommended_users %}
                  <div class="d-flex justify-content-between align-items-center mb-2">
                     <div class="d-flex align-items-center">
                        <a href="{{ person.get_absolute_url }}">
                           <img src="{{ person.profile.get_profile_pic }}" class="profile-photo me-3" style="width: 45px; height: 45px;">
                        </a>
                        <div>
                           <a class="common-link fw-bold mb-0" href="{{ person.get_absolute_url }}">{{ person.username }}</a>
                           <p class="text-muted small mb-0">{{ person.first_name }} {{ person.last_name }}</p>
                        </div>
                     </div>
                  </div>
               {% endfor %}
            {% endif %}

            <div style="font-size: 0.8em; color: rgb(204,204,204)" class="mt-4">
               <span><a href="{% url 'docs-index' %}" class="common-link">Информация</a> · </span>
               <span><a href="#" class="common-link">Рейтинг аккаунтов</a> · </span>
               <span><a href="#" class="common-link">Хэштэги</a> · </span>
               <span><a href="#" class="common-link">Места</a></span>
               <p class="mb-0 mt-2"><i class="fa-regular fa-copyright"></i> 2023 INSTAGRAM FROM BSUIR</p>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
{% block footer %}{% endblock %}