{% extends 'profile.html' %}
{% block profile_buttons %}
   <a href="{% url 'profile-settings' %}" class="btn btn-sm text-bg-gray rounded-pill">Редактировать</a>
   {% block important-users-button %}{{ block.super }}{% endblock %}
   <a href="{% url 'logout' %}" class="btn btn-sm text-bg-gray rounded-pill"><i class="fa-solid fa-right-from-bracket"></i></a>
{% endblock %}
{% block post_links %}
   <a href="#" class="common-link pt-3 posts-link-active"><i class="fa-solid fa-table-cells me-1"></i> ПУБЛИКАЦИИ</a>
	<a href="{% url 'profile-bookmarks' %}" class="pt-3 common-link"><i class="fa-regular fa-bookmark me-1"></i> СОХРАНЕННОЕ</a>
	<a href="{% url 'profile-archived' %}" class="pt-3 common-link"><i class="fa-regular fa-folder me-1"></i> АРХИВ</a>
{% endblock %}