{% extends 'base_generic.html' %}
{% load static %}
{% block title %}Загрузить фотографию · Instagram{% endblock %}
{% block extrastyle %}
   {{ form.media }}
{% endblock %}
{% block content %}
   <div class="text-center mb-4">
      <h3 class="fw-bold">Создание публикации</h3>
   </div>

   <form method="post" enctype="multipart/form-data" id="post-form" >
      {% csrf_token %}
      <div class="row g-4 create-post-form">
         <div class="col-12 col-md-6 col-lg-5 col-xl-4 offset-lg-1 offset-xl-2">
            <div class="post-upload-image card card-body shadow border-0 p-4">
               {{ form.image }}
            </div>
         </div>
         <div class="col-12 col-md-6 col-lg-5 col-xl-4">
            <div class="post-upload-form card card-body shadow border-0 p-4">
               <div class="d-flex justify-content-between align-items-center mb-3">
                  <div>
                     <img src="{{ user.profile.get_profile_pic }}" class="profile-photo me-2" style="width: 30px; height: 30px;">
                     <span class="fw-bold">{{ user.username }}</span>
                  </div>
                  <div>
                     <button type="submit" class="btn btn-sm text-bg-gray rounded-pill">Опубликовать</button>
                  </div>
               </div>
               <div id="post-progressbar" class="progress mb-3" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 10px; display: none;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
               </div>
               {% if form.non_field_errors %}
                  {% include 'includes/form_non_field_errors.html' %}
               {% endif %}
               <div class="mb-3">
                  <div class="form-floating">
                     {{ form.title }}
                     <label for="id_title">Добавьте подпись...</label>
                  </div>
                  <div class="form-input-description">
                     <span id="id_title_length"></span>
                     <span> / 512</span>
                  </div>
               </div>
               <div class="accordion" id="postExtraSettings">
                  <div class="accordion-item">
                     <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                           Расширенные настройки
                        </button>
                     </h2>
                     <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#postExtraSettings">
                        <div class="accordion-body">
                           <div class="mb-0">
                              <div class="form-check form-switch">
                                 {{ form.is_allow_comments }}
                                 <label for="id_is_allow_comments">Разрешить комментарии</label>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </form>
{% endblock %}
{% block footer %}{% endblock %}
{% block extrajs %}
   <script>
       {% if form.errors %}{% for field in form %}
       {% if field.errors %}
           AddBsError("{{ field.id_for_label }}", "{% for error in field.errors %}{{ error }} {% endfor %}")
       {% endif %}
       {% endfor %}{% endif %}
   </script>
   <script>
      // Progressbar
       let postForm = document.querySelector('#post-form');
      let postProgressbar = document.querySelector('#post-progressbar');
      postForm.addEventListener('submit', function () {
          postProgressbar.style.display = 'flex';
      })

      // Title length widget
      let formDescriptionInput = document.querySelector('#id_title');
      let formDescriptionOutput = document.querySelector('#id_title_length');

      formDescriptionOutput.textContent = 0 + formDescriptionInput.value.length;
      formDescriptionInput.addEventListener('input', function () {
          formDescriptionOutput.textContent = 0 + this.value.length;
      })
   </script>
{% endblock %}