{% extends 'base_generic.html' %}
{% load static custom_tags %}
{% block title %}{{ person.first_name }} {{ person.last_name }} (@{{ person.username }}) · Instagram{% endblock %}
{% block extrastyle %}
   <style>
   .container {
       @media(min-width: 1200px) {
           max-width: 1100px;
       }
   }
   </style>
{% endblock %}
{% block content %}
   <div class="row pt-sm-3 mb-5">
      <div class="col-3 col-lg-2 col-xl-2 me-2 me-sm-4 me-lg-5">
         <img src="{{ person.profile.get_profile_pic }}" class="profile-photo w-100">
      </div>
      <div class="col-8 col-lg-8 col-xl-9">
         <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="align-items-center fs-3 fw-bold">
               <span><i class="fa-solid fa-at"></i></span>
               <span>{{ person.username }}</span>
            </div>
            <div class="float-end">
               {% block profile_buttons %}
                  <span data-user-id="{{ person.id }}" class="submit-follow {% if is_following %}follow-followed{% endif %} btn btn-sm rounded-pill fw-bold px-3">{% if is_following %}Подписка{% else %}Подписаться{% endif %}</span>
                  {% block recommended-users-button %}
                     <button id="buttonRecommendedPeople" class="btn btn-sm rounded-pill text-bg-gray" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRecommendedPeople" aria-expanded="false" aria-controls="collapseRecommendedPeople"><i class="fa-solid fa-user-plus"></i></button>
                  {% endblock %}
               {% endblock %}
            </div>
         </div>
         <div class="d-flex align-items-center mb-4">
            <span class="lh-sm me-5"><strong>{{ posts|length }}</strong> {{ posts|length|ru_plural:"публикация,публикации,публикаций" }}</span>
            <span class="lh-sm me-5"><strong id="followers-count">{{ num_of_followers }}</strong> {{ num_of_followers|ru_plural:"подписчик,подписчика,подписчиков" }}</span>
            <span class="lh-sm"><strong>{{ num_of_following }}</strong> {{ num_of_following|ru_plural:"подписка,подписок,подписок" }}</span>
         </div>
         <div>
            <p class="fw-medium fs-5 mb-0">{{ person.first_name }} {{ person.last_name }}</p>
            {% if person.profile.site_url %}
               <div class="mb-1">
                  <i class="fa-solid fa-link text-muted small"></i>
                  <a href="{{ person.profile.site_url }}" class="small">{{ person.profile.site_url }}</a>
               </div>
            {% endif %}
            {% if person.profile.description %}
               <p class="small">{{ person.profile.description }}</p>
            {% endif %}
         </div>
      </div>
   </div>
   <div class="collapse" id="collapseRecommendedPeople">
      <div class="pb-3">
         <h6 class="text-muted mb-2">Рекомендуемые</h6>
         <div class="row row-cols-3 row-cols-md-4 row-cols-lg-6 g-2">
            {% for recommended_user in recommended_users %}
               <div class="col">
                  <div class="card card-body rounded-4 h-100">
                     <a href="{{ recommended_user.get_absolute_url }}" class="common-link text-center">
                        <img src="{{ recommended_user.profile.get_profile_pic }}" class="profile-photo mb-3" style="width: 80px; height: 80px;">
                        <p class="fw-bold mb-0">{{ recommended_user.username }}</p>
                        <p class="text-muted mb-0 limit-str" style="--num-lines: 1;">{{ recommended_user.first_name }} {{ recommended_user.last_name }}</p>
                     </a>
                  </div>
               </div>
            {% endfor %}
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-12">
         <span class="d-flex w-100 border-bottom"></span>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col">
         <div class="d-flex justify-content-evenly align-items-center small text-muted fw-bold">
            <a href="#" class="common-link pt-3 {% block post_links_posts_border %}posts-link-active{% endblock %}"><i class="fa-solid fa-table-cells me-1"></i> ПУБЛИКАЦИИ</a>
            {% block post_links %}{% endblock %}
         </div>
      </div>
   </div>
   <div class="row g-2">
      {% for post in posts %}
         {% include 'includes/post_only_image.html' %}
      {% endfor %}
   </div>
{% endblock %}
{% block extrajs %}
<script>
    $('#buttonRecommendedPeople').on('click', function() {
        if (this.classList.contains('recommended-pressed')) {
            this.innerHTML = '<i class="fa-solid fa-user-plus"></i>';
            this.classList.remove('recommended-pressed');
        } else {
            this.innerHTML = '<i class="fa-solid fa-user-slash"></i>';
            this.classList.add('recommended-pressed');
        }
    });
</script>
{% endblock %}