{% extends 'base_generic.html' %}
{% load static %}
{% block title %}Редактировать профиль · Instagram{% endblock %}
{% block content %}
   <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-7 col-xl-5">
         <h3 class="fw-bold mb-4">Редактировать профиль</h3>

         <div class="d-flex align-items-center mb-4">
            <img src="{% static 'img/profile_default.jpg' %}" class="me-3" style="width: 55px; height: 55px; border-radius: 50%;">
            <div>
               <p class="mb-0">{{ user.username }}</p>
               {% block set-profile-picture-link %}<a href="#">Изменить фото профиля</a>{% endblock %}
            </div>
         </div>

         <div class="mb-4">
            <span><a href="{% url 'profile-settings' %}" class="btn btn-sm text-bg-gray rounded-pill me-2 mb-1"><i class="fa-solid fa-user mx-1"></i> Основная информация</a></span>
            <span><a href="{% url 'profile-settings-security' %}" class="btn btn-sm text-bg-gray rounded-pill mb-1"><i class="fa-solid fa-lock mx-1"></i> Безопасность</a></span>
         </div>

         {% block profile-settings-form %}
            <form method="post">
               {% csrf_token %}
               {% if user_form.non_field_errors %}
                  {% include 'includes/form_non_field_errors.html' with form=user_form %}
               {% endif %}
               <div class="mb-3 row">
                  <label for="id_first_name" class="fw-bold col-sm-2 col-form-label">Имя</label>
                  <div class="col-sm-10">
                     <div>
                        {{ user_form.first_name }}
                     </div>
                  </div>
               </div>
               <div class="mb-3 row">
                  <label for="id_last_name" class="fw-bold col-sm-2 col-form-label">Фамилия</label>
                  <div class="col-sm-10">
                     <div>
                        {{ user_form.last_name }}
                     </div>
                  </div>
               </div>
               <div class="mb-5 row">
                  <label for="id_email" class="fw-bold col-sm-2 col-form-label">E-mail</label>
                  <div class="col-sm-10">
                     <div>
                        {{ user_form.email }}
                     </div>
                  </div>
               </div>

               {% if profile_form.non_field_errors %}
                  {% include 'includes/form_non_field_errors.html' with form=profile_form %}
               {% endif %}
               <div class="mb-3 row">
                  <label for="id_site_url" class="fw-bold col-sm-2 col-form-label">Сайт</label>
                  <div class="col-sm-10">
                     <div>
                        {{ profile_form.site_url }}
                     </div>
                  </div>
               </div>
               <div class="mb-3 row">
                  <label for="id_description" class="fw-bold col-sm-2 col-form-label">О себе</label>
                  <div class="col-sm-10">
                     <div>
                        {{ profile_form.description }}
                     </div>
                     <div class="form-input-description">
                        <span id="id_description_length"></span>
                        <span> / 128</span>
                     </div>
                  </div>
               </div>
               <div class="mb-3 row">
                  <label for="id_gender" class="fw-bold col-sm-2 col-form-label">Пол</label>
                  <div class="col-sm-10">
                     <div>
                        {{ profile_form.gender }}
                     </div>
                     <span class="form-input-description">Эта информация не будет показываться в вашем общедоступном профиле.</span>
                  </div>
               </div>

               <button type="submit" class="btn btn-primary rounded-pill">Сохранить</button>
            </form>
         {% endblock %}
      </div>
   </div>
{% endblock %}
{% block extrajs %}
   <script>
       {% if user_form.errors %}{% for field in user_form %}
       {% if field.errors %}
           AddBsError("{{ field.id_for_label }}", "{% for error in field.errors %}{{ error }} {% endfor %}")
       {% endif %}
       {% endfor %}{% endif %}

       {% if profile_form.errors %}{% for field in profile_form %}
       {% if field.errors %}
           AddBsError("{{ field.id_for_label }}", "{% for error in field.errors %}{{ error }} {% endfor %}")
       {% endif %}
       {% endfor %}{% endif %}
   </script>
   <script>
       let profileFormDescriptionInput = document.querySelector('#id_description');
       let profileFormDescriptionOutput = document.querySelector('#id_description_length');

       profileFormDescriptionOutput.textContent = 0 + profileFormDescriptionInput.value.length;
       profileFormDescriptionInput.addEventListener('input', function () {
           profileFormDescriptionOutput.textContent = 0 + this.value.length;
       })
   </script>
{% endblock %}